* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trip Sans';
}

/* Header con espacio entre logo y botones */
.header-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

/* Logo alineado a la izquierda */
.logo {
  width: 400px;
  height: auto;
}

/* Botones alineados a la derecha */
.botones-contenedor {
  display: flex;
  gap: 9rem;
}

.bottom {
  font-size: 20px;
  display: inline-block;
  background: #4e95b8;
  color: #fff;
  padding: 0.9rem 3rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.bottom:hover {
  background-color: #5f5f5f;
}

/* Centrado total del texto en el main */
main {
  display: flex;
  flex-direction: column; /* Apila los hijos verticalmente */
  justify-content: flex-start; /* Opcional: alinea arriba */
  align-items: center; /* Centra horizontalmente */
  height: calc(100vh - 100px);
  text-align: center;
  padding-top: 13rem; /* Ajusta según lo que necesites */
}

.text-init {
  font-size: 3rem;
  max-width: 80%;
  margin-bottom: 1rem; /* Espacio debajo del h1 */
}

.text-body {
  margin-top: 1rem;
  font-size: 1.5rem;
  max-width: 1000px;      /* Limita el ancho máximo */
}

.body-contenedor {
  display: flex;
  align-items: center; /* Centra verticalmente la estrella y el texto */
  gap: 1rem;           /* Espacio entre la estrella y el texto */
}

.estrella {
  width: 70px;
  display: block; /* Cambia a block para que no afecte el flex */
}