* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trip Sans';
}

.header-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #eee;
}

.logo {
  width: 400px;
  height: auto;
}

.botones-contenedor {
  display: flex;
  gap: 2rem;
}

.bottom {
  font-size: 1rem;
  background: #4e95b8;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
}

.bottom:hover {
  background-color: #5f5f5f;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 100px);
  text-align: center;
  padding-top: 13rem;
}

.text-init {
  font-size: 3rem;
  max-width: 80%;
  margin-bottom: 1rem;
}

.body-contenedor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dafo table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 2rem auto;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dafo caption {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.dafo th,
.dafo td {
  border: 1px solid #ddd;
  padding: 1rem;
  vertical-align: top;
  background-color: #fefefe;
}

.dafo th {
  background-color: #4e95b8;
  color: white;
}

.dafo td {
  background-color: #f9f9f9;
}
